



<!-- Navbar público (não logado) -->
<nav class="navbar navbar-expand-lg pli-navbar" id="navbar-public">
    <div class="container">
        <a class="navbar-brand text-pli-azul-escuro" href="index.html">
            <i class="fas fa-building"></i> SIGMA-PLI | Módulo de Gerenciamento de Cadastros
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarPublic" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarPublic">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">
                        <i class="fas fa-home"></i> Início
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="cadastro-pessoa-fisica.html">
                        <i class="fas fa-user"></i> Pessoa Física
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="cadastro-pessoa-juridica.html">
                        <i class="fas fa-building"></i> Pessoa Jurídica
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="cadastro-usuario.html">
                        <i class="fas fa-users"></i> Usuários
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="login.html">
                        <i class="fas fa-sign-in-alt"></i> Login
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="sobre.html">
                        <i class="fas fa-info-circle"></i> Sobre
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<!-- Navbar interna (usuário logado) -->
<nav class="navbar navbar-expand-lg pli-navbar" id="navbar-internal">
    <div class="container">
        <a class="navbar-brand text-pli-azul-escuro" href="dashboard.html">
            <i class="fas fa-building"></i> SIGMA-PLI | Módulo de Gerenciamento de Cadastros
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarInternal" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarInternal">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="dashboard.html">
                        <i class="fas fa-tachometer-alt"></i> Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="pessoa-fisica.html">
                        <i class="fas fa-user"></i> Pessoa Física
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="pessoa-juridica.html">
                        <i class="fas fa-building"></i> Pessoa Jurídica
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="usuarios.html">
                        <i class="fas fa-users"></i> Usuários
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="solicitacoes-cadastro.html">
                        <i class="fas fa-tasks"></i> Solicitações Cadastros
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="meus-dados.html">
                        <i class="fas fa-user-cog"></i> Meus Dados
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="sobre.html">
                        <i class="fas fa-info-circle"></i> Sobre
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="logout()">
                        <i class="fas fa-sign-out-alt"></i> Sair
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

