/* from style attributes -> classes */
.auto_s_4437118c {
  width: 3rem !important;
  height: 3rem !important;
}

.auto_s_d68a485e {
  color: #ffc107 !important;
}

.auto_s_7eafe6e9 {
  color: #dc3545 !important;
}
